.section {
    margin-top: calc($separacion / 2) ;
    margin-bottom: calc($separacion / 2);
}
.content-center {
    max-width: 80rem;
}

.content-right {
    display: flex;
    justify-content: flex-end;
}

.content-left {
    display: flex;
    justify-content: flex-start;
}

.content-bottom {
    position: absolute;
    bottom: 0;
}

.w-100 {
    width: 100%;
}

.form input[type="submit"] {
    display: block;
    margin: 2rem auto;
}