@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Fuentes
$font_main: 'PT Sans', sans-serif;

// Tamaños media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$laptop: 1220px;

// Colores
$negro: #2F3645;
$white: #EEEDEB;
$gris: #E1E1E1;
$secondary: #2F3645;
$suave: #939185;
$suave-hover: #686865;
$alternative: #179232;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

//Extras
$separacion: 5rem;
$height-pages-nav: 14.5rem;