.sobre-mi {
    
    & img{
        display: none;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: center;

        & img {
            display: block;
            margin: 0 auto;
            width: 20rem;
            height: 20rem;
            margin-right: $separacion;
        }


    }

    .sobre-mi__texto {
        text-align: justify;
    }
}