.proyectos {

    img {
        display: none;

        @include tablet {
            display: block;
            transition: transform 0.3s ease, background-size 0.3s ease;

            &:hover{
                background-size: 110%;
                transform: scale(1.05);
            }
        }

        @include desktop {

            &:hover {
                background-size: 110%;
                transform: scale(1.1);
            }
        }
    }

    @include tablet{
        @include grid(2, calc($separacion / 2))
    }

    @include desktop {
        @include grid(3,$separacion)
    }
}

.carousel {
    @include tablet {
        display: none;
    }
}